<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKpCzldvoaCGQIZpbmu7fhRFTYhnb5s0E</string>
	<key>GCM_SENDER_ID</key>
	<string>709030195522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend2</string>
	<key>PROJECT_ID</key>
	<string>pembinaan-7408d</string>
	<key>STORAGE_BUCKET</key>
	<string>pembinaan-7408d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709030195522:ios:b6694449e2ff7242cc98db</string>
</dict>
</plist>